* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
}
h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: Helvetica, Arial, Georgia;
  margin-top: 10px;
  margin-bottom: 10px;
}
nav#hori {
  display: flex; /* Use Flexbox for alignment */
  justify-content: center; /* Center the nav items horizontally */
  align-items: flex-start; /* Align items at the top of the container */
  margin-top: 20px;
  margin-bottom: 20px;
}
nav#hori ul {
  list-style-type: none;
  padding: 0;
  margin: auto; /* Center the navbar horizontally */
  overflow: auto;
  display: flex; /* For centering */
  justify-content: center; /* Center items horizontally */
}
nav#hori ul li {
  margin: 0 10px;
  flex: 1 1 auto; /* Distribute available space evenly */
}
nav#hori ul li a {
  display: flex; /* Use flexbox on the links */
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
  text-align: center;
  background-color: black;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  width: 120px; /* Set a fixed width */
  height: 40px; /* Set a fixed height */
  border-radius: 3px;
}
nav#hori ul li a:hover {
  background-color: #570202;
  color: white;
  border-radius: 40px;
}

#headers h1{
  color:rgb(159, 12, 9)
}
#headers h2{
  color:rgb(205, 71, 4)
}
.pictures P {
  color: rgb(183, 52, 4);
  font-size: 18px;
  font-family: Helvetica, Arial, Georgia;
}
.pictures {
  display: flex;
  align-items: flex-start;  
  gap: 15px;                 
  margin-bottom: 20px;        
}
img, video {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 50px; 
}
#verses ul li{
  color: #570202;
}
#vid h2 {
  color: rgb(149, 2, 2);
}
#scriptHeaders h1{
  color: rgb(39, 2, 2);
}
#scriptHeaders h2{
  color: rgb(43, 12, 12);
}
iframe {
  width: 560;
  height: 315;
}
#header p {
  color: red
}
#Skills li {
  color: rgb(180, 85, 7)
}
#WestMonroe li {
  color: green
}
#WM li {
  color: blue
}
#CivicStudios li {
  color: indigo
}
#Education li {
  color: rgb(173, 46, 173)
}